.navbar-default {
  background-color: #24292E;
}

.navbar-default .navbar-header a {
  color: #C2C4C5;
}

.navbar-default .navbar-nav li a {
  color: #C2C4C5;
}

.navbar-default .navbar-header a:hover {
  color: white;
}

.navbar-default .navbar-nav li a:hover {
  color: white;
}

.hero-photo {
  position: relative;
}

.hero-text-wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
}

.hero-text {
  margin: 0 auto;
  width: 50%;
  max-width: 550px;
  border: 1px solid white;
  color: white;
  background-color: rgba(50, 60, 100, 0.3);
  padding: 20px 50px;
}

img#hero-image {
  width: 100%;
}

.text-message {
  width: 60%;
  position: relative;
  margin: 0 auto;
}

.info-block {
  background-color: #24292E;
  color: white;
}

.info-block .row {
  padding: 35px;
  border-bottom: 1px solid grey;
}

.info-block .about-picture-wrapper {
  width: 100%;
  text-align: center;
}

.info-block a {
  color: #5EA981;
}

.info-block a:hover {
  color: white;
}

a.light-green {
  background-color: #5BAA80;
  color: white;
  transition: all 0.2s ease;
}

a.light-green:hover {
  background-color: #2C6343;
}

.info-block img {
  height: 300px;
  position: relative;
  margin: 0 auto;
}

#game {
  background-color: #C5BEBB;
  padding: 1%;
}

.photo-container {
  margin: 0 auto;
  position: relative;
  width: 270px;
  margin-bottom: 15px;
}

#game button.btn {
  background-color: #5BAA80;
  color: white;
  transition: all 0.1s ease;
  margin-bottom: 10px;
}

#game button.btn:hover {
  background-color: #2C6343;
}

#beers-container {
  width: 200px;
  position: absolute;
  left: 49px;
  bottom: 420px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  z-index: 2;
}

span.smaller {
  font-size: 7px;
}

.beer-column {
  width: 14px;
  display: inline-block;
}

.beer {
  display: inline-block;
}

#evidence {
  padding: 20px;
}

footer {
  background-color: #24292E;
  height: 50px;
  color: white;
  text-align: center;
}

footer p {
  padding-top: 13px;
}

@media screen and (max-device-width: 700px) {
  .hero-text-wrapper {
    display: none;
  }

  #about {
    text-align: center;
  }

  #about h2 {
    margin-bottom: 0;
  }

  #about a {
    margin-bottom: 15px;
  }

  .mobile-shrink {
    max-height: 200px;
  }
}
